#buildingjqxcombobox {	
	display: block;
	padding: 5px 5px 10px 5px;
	float: left;
}
#locationjqxcombobox {float: left;}
#unitjqxcombobox {float: left;}
#faultcategoryjqxcombobox {float: left;}

#GetPendingFaults { 
	float: left; 
	margin: 10px 10px 10px 0;
}

#ProcessPendingFaults { 
	float: left; 
	margin: 10px 10px 10px 0;
}

#homepage {
	float: right;
}